[submodule "jansson"]
	path = jansson
	url = git://github.com/akheron/jansson.git
[submodule "libwebsockets"]
	path = libwebsockets
	url = git://github.com/warmcat/libwebsockets.git
[submodule "wolfssl"]
	path = wolfssl
	url = git://github.com/wolfSSL/wolfssl.git
[submodule "librws"]
	path = librws
	url = git://github.com/OlehKulykov/librws.git
